streamlit
pandas
numpy
scikit-learn
joblib
xlsxwriter
folium
streamlit-folium
Sastrawi
shap
matplotlib
requests
ultralytics
opencv-python-headless
Pillow
libgl1
libglib2.0-0
opencv-python-headless
ultralytics
